/**
 * Optinal: for call to action into the modal box header
 */
.header-modal span {
    display: inline-table;
    display: inline-block;
    width: 50%;
    text-align: center;
	font-size: 70%
}

/**
 * The links into the modal box header
 */
.header-modal a {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 0 0 .5em;
    text-decoration: none;
	line-height: 32px;

    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%
}

/**
 * The link state into the modal box header
 */
.header-modal a:hover,
    .header-modal a:active {
    -webkit-box-shadow: 0px 0px 2px #0288d1;
    -moz-box-shadow: 0px 0px 2px #0288d1;
    -khtml-box-shadow: 0px 0px 2px #0288d1;
    box-shadow: 0px 0px 2px #0288d1;

    -webkit-transform: translate(1.2, 1.2);
	-webkit-transition: transform 200ms ease-out;
    -moz-transform: translate(1.2, 1.2);
	-moz-transition: transform 200ms ease-out;
    -ms-transform: translate(1.2, 1.2);
	-ms-transition: transform 200ms ease-out;
	transform: translate(1.2, 1.2);
	transition: transform 200ms ease-out;

	-webkit-tap-highlight-color: transparent
}

/**
 * The SVG icon into the modal box header
 */
.header-modal svg {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	color: #aaa;
	font-size: 2em;
	cursor: pointer
}

/**
 * SVG icon color
 */
.header-modal path {fill: #aaa}

/**
 * Styling the signs for the Modal Message Box
 */
span[class*="-sign"] {
	display: inline-table;
    display: inline-block;
    /* 2px less due to padding */
	width: 30px;
	height: 28px;
	margin: 0 5px 0 0;
    padding: 0;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font: normal normal normal 22px/28px Arial, sans-serif
}
    
span[class*="-sign"] strong {
    display: -moz-inline-box;
    display: inline-block;
	font-family: 'Cambria Math', 'Apple Symbols'
}

/**
 * here is the error sign color
 */
.error-sign {background: #e27575}

/**
 * Here is the info sign color
 */
html .info-sign {background: #9ea8dd}

/**
 * Here is the success sign color
 */
.success-sign {background: #00c853}

/**
 * Here is the warning sign color
 */
.warning-sign {background: #fbc02d}

/**
 * Media query for screen below 720px
 */
@media only screen and (max-width:720px) {

	html .header-modal span {
		width: auto;
		margin: 0
	}
	.header-modal a {
		float: none;
		width: 24px;
		height: 24px;
		margin: 0 0 0 .5em;
		vertical-align: middle
	}
	.header-modal svg {
		width: 22px;
		height: 22px;
		vertical-align: baseline
	}

}