/*!
 * A sample of customization for CSS Modal Box
 * See: https://github.com/cara-tm/modal_box/
 */

/**
 * The entire modal box header
 */
.header-modal {
	background: #e91e63;
	border-bottom: 14px solid #c2185b
}

/**
 * Heading (level 1) for the modal box header
 */
.header-modal h1,
	.header-modal strong,
		.header-modal svg {color: #fff}

/**
 * The states of the links into the modal box header
 */
.header-modal a:hover,
	.header-modal a:active {border-color: #fff}

/**
 * SVG icon color within the modal box header
 */
.header-modal svg path {fill: #fff}
.modal-dialog .close {background: #e040fb}

/**
 * The 'Close' link
 */
.modal-dialog .close:hover,
	.modal-dialog .close:active {background: #e6005c; color: #fff}

/**
 * The main content of the modal box
 */
.modal-dialog .inner-dialog {
	background: #fff
	color: #757575
}

/**
 * The entire modal box outer footer
 */
.footer-modal {
	background: #c2185b;
	border: 1px solid #c2185b
}

/**
 * The modal box footer's links
 */
.footer-modal a{
	color: #fff;
	-webkit-tap-highlight-color: #e91e63
}

/**
 * The footer's links states
 */
.footer-modal a:hover,
	.footer-modal a:active {
	background: #e91e63;
	-webkit-tap-highlight-color: #e91e63
}
