/*!
 * FLATERIAL
 * A sample of customization for CSS Modal Box
 * @link:      https://github.com/cara-tm/modal_box/
 * @colors:	   https://www.materialpalette.com
 * @date:      26/08/2017
 * @revision : 12/09/2017
 */

/**
 * Waiting for Google @font-face loader: hide the entire page
 */
.wf-loading
{
	visibility: hidden;
	opacity: 0;
	overflow: hidden;

	height: 100%
}

/**
 * All is fine: display the document
 */
.wf-active
{
	visibility: visible;
	opacity: 1;
}

.modal-dialog:target
{
	-webkit-transform-origin: bottom center;
			transform-origin: bottom center;
	-webkit-animation: none;
	/* Use of zero prefix with decimal values for older webkit browsers */ 
	-webkit-animation: fade-in-pulse .3s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
			animation: none;
			animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8,.02,.45,.91)
}

/* 
 * Use of zero as prefix with decimal 
 * values for older webkit browsers.
*/
@-webkit-keyframes fade-in-pulse
{
	0%
	{
		-webkit-transform: scale(0.8);
		        transform: scale(0.8)

		opacity: 0;
	}
	50%
	{
		opacity: 1;
	}
	100%,
	70%
	{
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
}

@keyframes fade-in-pulse
{
	0%
	{
		transform: scale(.8);
		opacity: 0
	}
	50%
	{
		opacity: 1
	}
	100%,
	70%
	{
		transform: scale(1)
	}
}

/**
 * Changes the border width of the entire message box
 */
.modal-dialog .modal-message
{
	border: 1px solid #eee
}

/**
 * Color for the main text content
 */
.modal-dialog .inner-modal
{
	color: #212121
}

/**
 * The close button
 */
.modal-dialog .close
{
	background: #eee;
	color: #757575
}

/**
 * The close button states
 */
.modal-dialog .close:hover,
.modal-dialog .close:active
{
	color: #fff;
	background: #aaa;
	/* No shadow on hover state */
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		 -o-box-shadow: none;
	 -khtml-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none
}

/**
 * Changes the border width of the modal header
 */
.header-modal
{
	border-width: 1px
}

/**
 * Heading (level 1) for the modal box header
 */
html .header-modal span
{
	
}

/**
 * Do not render Unicode symbols as emoji
 */
.header-modal strong
{
	vertical-align: baseline;
	font-family: 'Segoe UI Symbol', 'Cambria Math', 'Apple Symbols'
}

.header-modal a:hover,
.header-modal a:active
{
	color: #333;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	 -khtml-box-shadow: none;
			box-shadow: none
}

/**
 * SVG icon color within the modal box header
 */
html .header-modal a:hover svg,
html .header-modal a:active svg
{
	color: #fff;
	-webkit-border-radius: 50%;
	 -khtml-border-radius: 50%;
			border-radius: 50%;
	background: #26a69a
}

.header-modal svg path
{
	fill: #757575
}

.header-modal a:hover svg path,
.header-modal a:active svg path
{
	fill: #fff
}

@media only screen and (max-width: 720px)
{

	.header-modal svg
	{
		width: 32px;
		height: 32px;
		margin-top: -.1em;

		vertical-align: baseline
	}
	.mob-hide
	{
		display: none!important
	}

}

/**
 * The main content of the modal box
 */
.modal-dialog .inner-dialog
{
	border-width: 0;
	background: #fff;
	color: #212121
}

.modal-dialog .inner-dialog p,
.modal-dialog .inner-dialog ul
{
	color: #757575
}

/**
 * No border for the inner message: there are yet
 */
.modal-dialog .modal-message .inner-dialog
{
	border: none
}

/**
 * Creates rounding icons for Message Boxes instead of square ones
 * but not for old FF browsers due to ugly rendering
 */
html span[class*='-sign']
{
	width: 1em;
	height: 1em;

	-webkit-border-radius: 50%;
			border-radius: 50%
}

/**
 * The entire modal box outer footer
 */
.footer-modal
{
	overflow-y: auto;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	text-align: right;
	font-family: inherit;

	border: 1px solid #eee;
	background: #fff;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none
}

/**
 * The modal box footer's links
 */
.modal-dialog .footer-modal a
{
	/*
	line-height: 3.4em;
	line-height: 2.975rem;
	/* 2.8em + .6em = 3.4; 3.4em + .6em = 4em (line-height) */


	margin: .8em .6em .7em;
	padding: .9em 2em;
	color: #448aff;
	line-height: 1;
	
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/**
 * The footer's links states
 */
.modal-dialog .footer-modal a:hover,
.footer-modal a:active
{
	background: #eee;
	background: rgba(38, 166, 154, 0.2) /* Base color: #00897b */;
	text-decoration: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.ripple
{
	position: relative;

	overflow: hidden;

	transform: translate3d(0, 0, 0);
	will-change: transform
}

.ripple:after
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	overflow: hidden;

	width: 100%;
	height: 200%;

	content: '';
	-webkit-transition: opacity 1s, -webkit-transform .5s;
			transition: opacity 1s, -webkit-transform .5s;
			transition: transform .5s, opacity 1s;
			transition: transform .5s, opacity 1s, -webkit-transform .5s;
	-webkit-transform: scale(10, 10);
			transform: scale(10, 10);
	pointer-events: none;

	opacity: 0;
	background-image: -webkit-radial-gradient(circle, #26a69a 10%, transparent 10.01%);
	background-image:		  radial-gradient(circle, #26a69a 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%
}

.ripple:hover
{
	background: none;
}

.ripple:hover:after
{
position: absolute;
	-webkit-transition: 0s;
			transition: 0s;
	-webkit-transform: scale(0, 0);
			transform: scale(0, 0);

	opacity: .2
}
