/*!
 * MESSAGE BOX
 * A sample of customization for CSS Modal Box
 * @link:      https://github.com/cara-tm/modal_box/
 * @colors:    https://www.materialpalette.com
 * @date:	   04/09/2017
 * @revision : 24/10/2017
 */

/**
 * Waiting for Google @font-face loader: hide the entire page
 */
.wf-loading
{
	visibility: hidden;
	overflow: hidden;

	height: 100%;

	opacity: 0
}

/**
 * All is fine: display the document
 */
.wf-active
{
	visibility: visible;

	opacity: 1
}

/**
 * Animates the box on opening
 */
.modal-dialog:target
{
	-webkit-transform-origin: bottom center;
			transform-origin: bottom center;
	-webkit-animation: none;
	/* Use of zero prefix with decimal values for older webkit browsers */ 
	-webkit-animation: fade-in-pulse .3s forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
			animation: none;
			animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8,.02,.45,.91);
	will-change: auto
}

/**
 * Hides the bubble on message box opening
 */
.modal-dialog:target ~ .wrapper .bubble{display:none}

/**
 * Animation
 * 
 * Use of zero as prefix with decimal 
 * values for older webkit browsers.
*/
@-webkit-keyframes fade-in-pulse
{
	0%
	{
		-webkit-transform: scale(0.8);
		        transform: scale(0.8);

		opacity: 0
	}
	50%
	{
		opacity: 1
	}
	100%,
	70%
	{
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
}

@keyframes fade-in-pulse
{
	0%
	{
		transform: scale(.8);

		opacity: 0
	}
	50%
	{
		opacity: 1
	}
	100%,
	70%
	{
		transform: scale(1)
	}
}

/**
 * Helpers
 */
.txt-center {text-align: center}

/**
 * Changes the border width of the entire message box
 */
.modal-dialog .modal-message
{
	border: 1px solid #eee
}

/**
 * Color for the main text content
 */
.modal-dialog .inner-modal
{
	color: #212121
}

/**
 * The close button
 */
.modal-dialog .close
{
	background: #eee;
	color: #757575
}

/**
 * The close button states
 */
.modal-dialog .close:hover,
.modal-dialog .close:active
{
	color: #fff;
	background: #00ad9f;
	/* No shadow on hover state */
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		 -o-box-shadow: none;
	 -khtml-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none
}

/**
 * Changes the border width of the modal header
 */
.header-modal
{
	height: 11em;
	max-height: none;
	border-width: 1px;
	background: #00ad9f;
	border-color: #00ad9f;
	color: #fff
}

/**
 * Heading (level 1) for the modal box header
 */
html .header-modal h1
{
	display: block;
	padding: 0;
	text-align: center;
	color: #f1f1f1;
	line-height: 2
}

.header-modal p {
	width: 70%;
	margin: 0 15%;
	font-size: smaller
}

.header-modal .modal-profile:after { content:"☺"; }
.header-modal .modal-profile::after { content:"☻"; }

.header-modal .profile-outer {
	float: left;
	width: 60%;
	min-width: 100%;
	margin: .5em 0 1em 0;
	padding: 0 20%
}

.profile-outer figure {
	position: relative;
	display: table-cell;
	float: left;
	width: 20%;
	margin: 0
}

.profile-outer figure span {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 68px
}

.header-modal .modal-profile {
	display: block;
	width: 68px;
	height: 68px;
	margin: 0 auto;
	border-radius: 50%
}

.header-modal .profile-outer figcaption {
	clear: both;
	font-size: 70%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap
}

/**
 * Do not render Unicode symbols as emoji
 */
.header-modal strong
{
	vertical-align: baseline;
	font-family: 'Segoe UI Symbol', 'Cambria Math', 'Apple Symbols'
}


.header-modal a:hover,
.header-modal a:active
{
	color: #333;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	 -khtml-box-shadow: none;
			box-shadow: none
}


/**
 * Media queries
 */
@media only screen and (max-width: 720px)
{

	.modal-dialog .header-modal {
		max-height: none;
		height: auto;
		padding-bottom: 1em
	}
	.header-modal .modal-profile {
		margin: 1em 0 0
	}
	.header-modal svg
	{
		width: 32px;
		height: 32px;
		margin-top: -.1em;

		vertical-align: baseline
	}
	.mob-hide
	{
		display: none !important
	}

}

/**
 * The main content of the modal box
 */
.modal-dialog .inner-dialog
{
	max-height: 13em;
	max-height: 40vh;

	border-width: 1px;
	background: #fff;
	color: #212121
}

.modal-dialog .inner-dialog p,
.modal-dialog .inner-dialog ul
{
	color: #757575
}

/**
 * No border for the inner message: there are yet
 */
.modal-dialog .modal-message .inner-dialog
{
	border: none
}

/**
 * Creates rounding icons for Message Boxes instead of square ones
 * but not for old FF browsers due to ugly rendering
 */
html span[class*='-sign']
{
	width: 1em;
	height: 1em;

	-webkit-border-radius: 50%;
			border-radius: 50%
}

/**
 * The entire modal box outer footer
 */
.footer-modal
{
	display: block;
	width: 99.9%;
	height: 2.72em;
	height: 3.4rem;
	margin-right: 0;
	margin-left: 0;
	padding: .65em 0 0;
	background: #f4f7f9;
	text-align: right;
	font-family: inherit;

	border: 1px solid #eee;
	box-shadow: 0 -10px 30px rgba(246, 246, 246, .9)
}

.footer-modal label {
	display: block;
	position: relative
	
}


.footer-modal input {
/* Not necessary indeed */
	display: inline-table;
	display: inline-block;

	width: 93.29%;
	height: 2.2em;
	margin: .25em 2.91% 0 0;
	padding: 0 .5% .25em;
	background: #fff;
	color: #565867;
	line-height: normal !important;
	resize: none;
	border: none
}

/**
 * David Walsh's FF correction for input fields
 * @source https://davidwalsh.name/firefox-buttons
 */
input::-moz-focus-inner { 
	margin-top: -2px;
	margin-bottom: -2px;
	padding: 3px 0 0;
	border: 0
}

.footer-modal label span {
	position: absolute;
	top: -.8em;
	left: 3%;

	margin: 0;
	line-height: 1;
	font-size: 65%;
	
	-webkit-transition: 0.2s ease all;
	transition: 0.2s ease all;

	pointer-events: none
}

/**
 * Changes the suffix label depending of the context
 */
.footer-modal label span:after {
	content: '…'
}

.footer-modal input:focus + span:after {
	content: ':';
}

/**
 * Keeps input as this in all cases
 */
.footer-modal input:focus,
.footer-modal input[type="text"]:invalid {
	outline: none;
	border: none;
	box-shadow: none
}

/**
 * Hides the label tag in favor of the placeholder
 */
@supports (display: -webkit-box) or
          (display: -moz-flex) or
          (display: -ms-flex) or
		  (display: -ms-flexbox) or
          (display: -webkit-flex) or
          (display: flex) {

				.footer-modal input[type="text"] {margin: .4em 2.91% 0 0}
				.footer-modal label span {
					top: 1em;
					margin-left: .08em
				}
				.footer-modal input[type="text"]:focus + span,
			  	.footer-modal input[type="text"]:valid + span {
					top: -.8em;
					color: #ccc
				}
				/**
			  	 * Hides the placeholder
			  	 */
				::-webkit-input-placeholder {
					/* WebKit browsers */
					color: #fff
			  	}
				:-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: #fff;
					opacity: 1
				}
				::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: #fff;
					opacity: 1
				}
				:-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: #fff
			  	}

}

/**
 * Just for IE10/11 because it sucks :D
 */
@media all and (-ms-high-contrast:none) {

	.footer-modal label span {display:none}

}

.modal-dialog .hidden {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px
}

/**
 * The modal box footer's links
 */
.modal-dialog .footer-modal a
{
	margin: 0 .6em 1.1em;
	padding: .9em 2em;
	color: #448aff;
	line-height: 1;
	
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/**
 * The footer's links states
 */
.modal-dialog .footer-modal a:hover,
.footer-modal a:active
{
	background: #eee;
	background: rgba(38, 166, 154, 0.2) /* Base color: #00897b */;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/**
 * Ripple Material effect like
 */
.ripple
{
	position: relative;

	overflow: hidden;

	transform: translate3d(0, 0, 0);
	will-change: transform
}

.ripple:after
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	overflow: hidden;

	width: 100%;
	height: 200%;

	content: '';
	-webkit-transition: opacity 1s, -webkit-transform .5s;
			transition: opacity 1s, -webkit-transform .5s;
			transition: transform .5s, opacity 1s;
			transition: transform .5s, opacity 1s, -webkit-transform .5s;
	-webkit-transform: scale(10, 10);
			transform: scale(10, 10);
	pointer-events: none;

	opacity: 0;
	background-image: -webkit-radial-gradient(circle, #26a69a 10%, transparent 10.01%);
	background-image:		  radial-gradient(circle, #26a69a 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%
}

.ripple:hover
{
	background: none
}

.ripple:hover:after
{
position: absolute;
	-webkit-transition: 0s;
			transition: 0s;
	-webkit-transform: scale(0, 0);
			transform: scale(0, 0);

	opacity: .2
}
