/**
 * Resets
 */
html,
	body {
		height: 100%;
		margin: 0;
		padding: 0
}

/**
 * Avoids selection with the mouse by the user
 */
.no__select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/**
 *  A pseudo-class to target the Modal unique #ID and open it
 */
.modal-dialog:target {
    opacity:1;
	display: block;

    pointer-events: auto
}

/**
 * Masks the wrapper and avoid scrolling on background 
 */
.modal-dialog:target ~ .wrapper {
/*
    overflow: hidden;
*/
    position:fixed;
	z-index: -1;
	top: 0;
	left: 0;
	/* Can be ugly in some mobile browsers. Change value below to 0 instead */
	height: 100%;
    backface-visibility: hidden
}

/**
 * The modal outer that wrap the entire wrapper
 */
.modal-dialog {
	display: none;
opacity: 0;
	position: fixed;
position: absolute;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
 	left: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=) 0 0 repeat;
 	background: rgba(255, 255, 255, 0.95);
 	font-family: Arial, Helvetica, sans-serif
}

/**
 * The modal header
 */
.header-modal {
	position: relative;
	z-index: 1001;
	height: 90px;
	max-height: 15vh;
	background: #fff;

	font-family: 'Open Sans Condensed', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=95, Color='#ffffff')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=95, Color='#ffffff');
	-webkit-box-shadow: -15px 10px 30px rgba(255, 255, 255, .9);
	-moz-box-shadow: -15px 10px 30px rgba(255, 255, 255, .9);
	box-shadow: -15px 10px 30px rgba(255, 255, 255, .9)
}

.header-modal h1 {
	display: block;
	display: inline-block;
	margin: 0;
	padding: 0 0 0 .5em;
	vertical-align: middle;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 90px;
	font-size: 200%;
	font-weight: 400
}

.header-modal strong {color: #ccc}

.header-modal span {
	float: right;
	margin: 28px 30% 0 0
}

/**
 * Links within the modal's header
 */
.header-modal a {
/*
	float: right;
	margin: 28px 30% 0 0;
*/
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 0 0 .5em;
	border: 1px solid transparent;
	line-height: 32px
}

.header-modal a:hover,
	.header-modal a:active {
		border-color: #ccc;
		border-radius: 50%;
		-webkit-tap-highlight-color: transparent
}

/**
 * SVG icons within the modal's header
 */
.header-modal svg {
	width: 32px;
	height: 32px;
	margin: 0;
	vertical-align: middle
}

.header-modal svg path {
	fill: green
}

/**
 * The closing rounded button
 */
.modal-dialog .close {
	display: block;
    position: absolute;
	z-index: 10000;
    top: 7px;
    right: 10px;
    width: 29px;
    height: 29px;
    background: #eee;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #d4d4d4;
    font: normal normal normal 1.2em/29px 'Helvetica Neue', Helvetica, Arial,sans-serif;
    border-radius: 50%;

	-webkit-transition: box-shadow 200ms ease-out, -webkit-transform 200ms ease-out, opacity 200ms ease-in-out;
	-moz-transition: box-shadow 200ms ease-out, -moz-transform 200ms ease-out, opacity 200ms ease-in-out;
	transition: box-shadow 200ms ease-out, transform 200ms ease-out, opacity 200ms ease-in-out
}

/**
 * Hover state
 */
.modal-dialog .close:hover,
	.inner-dialog .close:active {
		background: #e6005c;
		color: #fff;
		outline: none;
		border: none;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-tap-highlight-color: transparent
}

/**
 * The outer part of the modal box
 */
.modal-dialog .modal {
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	position: relative;
	z-index: 1000;
	/* max-width can be changed safely depending of your needs */
	max-width: 720px;
	min-width: 250px;
	width: 80%; 
	margin: 2.5% auto 0;
	margin: 5vh auto 0;

	background: #fff;
	border: 1px solid #eee;

	border-radius: 6px 6px 0 0;
	-webkit-box-shadow: 0 -10px 45px rgba(0,0,0,.25);
	-moz-box-shadow: 0 -10px 45px rgba(0,0,0,.25);
	box-shadow: 0 -10px 45px rgba(0,0,0,.25);

	zoom: 1
}

/**
 * The inner part of the modal box
 */
.modal-dialog .inner-dialog {
	overflow-y: visible;
	overflow-y: scroll;
	
	/* Needed for some mobile browsers (UC Browser): corrects the width to 100% */
	display: inline-block;
	width: auto;
	/* End correction */

	max-height: 145px;
	max-height: 47vh;
	max-height: calc(100vh - 25vh - 140px);
	height: 90%;

	margin: 0;
	padding: 5px 20px 50px 20px
}


/**
 * A version with some effects
 
.modal-dialog .inner-dialog {
	overflow-y: hidden;
	overflow-y: -moz-hidden-unscrollable
}

.modal-dialog .inner-dialog:hover {
	overflow-y: visible;
	overflow-y: scroll
}
*/

/* End special version */

.modal-dialog .inner-dialog p {
	font-family: 'Open Sans', Arial, sans-serif
}


/**
 * The modal box's footer
 */
.footer-modal {
	overflow-y: auto;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background: #42a5f5;
	border: 1px solid #42a5f5;
	text-align: right;

	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
				0 3px 14px 2px rgba(0,0,0,0.12), 
				0 5px 5px -3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
				0 3px 14px 2px rgba(0,0,0,0.12), 
				0 5px 5px -3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
				0 3px 14px 2px rgba(0,0,0,0.12), 
				0 5px 5px -3px rgba(0, 0, 0, 0.3)
}

/**
 * Styling the footer's links
 */
.footer-modal a {
	display: inline-table;
	padding: 0 2em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	word-break: keep-all;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: bold;
	/* Same line-height as the footer's height for vertical alignment */
	line-height: 50px;
	outline: none;

	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;

	/* Changes the highlighting on the links for mobile webkit engines */
	-webkit-tap-highlight-color: #0b7cd7
}

.footer-modal a:hover,
	.footer-modal a:active {
		background: #0b7cd7;
		-webkit-tap-highlight-color: #0b7cd7
}

/**
 * Media query for small screens
 */
@media only screen and (max-width: 720px) {

	.header-modal h1 {line-height: 15.5vmax; font-size: 4.45vmax}

	.header-modal span {float: none; margin: 0}

	.header-modal a {float: none; width: 24px; height: 24px; margin: 0 0 0 .5em; vertical-align: text-top}
	
	.header-modal svg {width: 22px; height: 22px; vertical-align: baseline}

	.modal-dialog .modal {margin: 5vh auto 0; margin: calc(15vh - 50px) auto 0}

	html .footer-modal {box-shadow: 0 -10px 10px rgba(221, 221, 221, 0.95)}

	.footer-modal a {font-size: 80%}

	.mob-hide {display: none}

}

/**
 * Specific corrections for the Opera Mini browser:
 * - the lack of scrollbars support other than the "body" element;
 * - the lack of line height support.
 */
:-o-prefocus, html .modal-dialog .inner-dialog {height: 100%; max-height: 100%}

:-o-prefocus, html .footer-modal a {display: inline-block; padding: .8em 2em}


/**
 * Apply custom scrollbar styling on modal box only for webkit engines
 */
.modal-dialog ::-webkit-scrollbar { width: 3px; height: 3px}
.modal-dialog ::-webkit-scrollbar-button {  background-color: #666}
.modal-dialog ::-webkit-scrollbar-track {  background-color: #999}
.modal-dialog ::-webkit-scrollbar-track-piece { background-color: #fff}
.modal-dialog ::-webkit-scrollbar-thumb { height: 50px; background-color: #999; border-radius: 3px}
.modal-dialog ::-webkit-scrollbar-corner { background-color: #999}
.modal-dialog ::-webkit-resizer { background-color: #666}


/**
 * Custom rules for this demo document
 */
.wrapper {width: 100%}

.wrapper p {padding: 10px 10px 0}

.button {
	margin: 0 .5em 0 0;
	padding: .5em .5em .7em;
	background: #0b7cd7;
	color: #fff;
	text-decoration: none
}

.button:hover {text-decoration: underline}
