@charset "UTF-8";

/*! CSS Modal Box by cara-tm.com - https://github.com/cara-tm/modal_box - MIT license */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility
}

/**
 * Min resets
 */
html,
    body {
	height: 100%;
	margin: 0;
	padding: 0
}

/**
 * Waiting for Google font loader
 */
.wf-loading {
	opacity: 0;
	visibility: hidden;
	height: 100%;
	overflow: hidden
}

/**
 * All is fine: display the document
 */
.wf-active {
	opacity: 1;
	visibility: visible
}

/**
 * Prevent conflicts from other CSS rules
 */
body .modal-dialog {
	font: normal normal normal 16px/1 Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-kerning: normal;

	-moz-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern"
}

/**
 * Desable the user's mouse selection
 */
.no__select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/**
 * Animation
 */
@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

/**
 * Open the modal box
 */
.modal-dialog:target {
	opacity: 1;
	display: block;
	pointer-events: auto
}

/**
 * Apply animation on modal box opening
 */
.modal-dialog:target .modal {
	opacity: 1;

	-webkit-animation: scale-up-center 100ms cubic-bezier(.39, .575, .565, 1) both;
	animation: scale-up-center 100ms cubic-bezier(.39, .575, .565, 1) both
}

/**
 * Hide the background beside the modal box
 */
.modal-dialog:target ~ .wrapper,
    a[class^="close"]:target ~ .wrapper {
	overflow: auto;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 0;
	margin: 0;
	padding: 0
}

/**
 * For default browser (Android 2.3.6): restores the 
 * wrapper visibility after closing the modal box
 */
#close:target ~ .wrapper,
    a[class^="close"]:target ~ .wrapper {position: static}

/**
 * The wrapper of the modal box
 */
.modal-dialog {
	display: none;
	opacity: 0;
	position: fixed;
	position: absolute;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=) 0 0 repeat;
	background: rgba(255, 255, 255, .95)
}

/**
 * The inner part of the modal box
 */
.modal-dialog .modal {
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	position: relative;
	z-index: 1000;
    
	max-width: 36em;
	min-width: 250px;

	margin: 2.5% auto 0;
	margin: 5vh auto 0;

	background: #fff;
    border: 1px solid #eee;
	font-size: 125%;

	border-radius: 6px 6px 0 0;
    /* Activates GPU Hardware-Acceleration */
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

	-webkit-box-shadow: 0 -10px 45px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 -10px 45px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 -10px 45px rgba(0, 0, 0, .25);
	-ms-box-shadow: 0 -10px 45px rgba(0, 0, 0, .25);
	box-shadow: 0 -10px 45px rgba(0, 0, 0, .25);
    
    /* For IE7 support: can be safely removed if not used */
	zoom: 1
}

/**
 * The close button
 */
.modal-dialog .close {
	display: block;
	position: absolute;
	z-index: 10000;
	top: 7px;
	right: 10px;
	width: 1.45em;
    /* WTF: 1px visual correction! */
	height: 1.5em;
	margin: 0;
	padding: 0;
	background: #0288d1;
	vertical-align: middle;
	align-self: center;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 50%
}


.modal-dialog .close strong {
	display: inline-block;
	width: 1.45em;
	height: 1.5em;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 29px;
	font-weight: normal;
	cursor: pointer
}

/**
 * The close button state
 */
.modal-dialog .close:hover,
    .inner-dialog .close:active {
	background: #03a9f4;
	outline: none;
	border: none;

	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-tap-highlight-color: transparent
}

/**
 * The header of the modal box
 */
.header-modal {
	position: relative;
	z-index: 1001;

	height: 5em;
    height: 6rem;
	max-height: 26vh;

	color: #aaa;
	font-family: 'Noto Sans', inherit, sans-serif;
	font-weight: 300;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=30,Direction=95,Color='#ffffff')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=95, Color='#ffffff');
	-webkit-box-shadow: -15px 10px 30px rgba(255, 255, 255, .9);
	-moz-box-shadow: -15px 10px 30px rgba(255, 255, 255, .9);
	box-shadow: -15px 10px 30px rgba(255, 255, 255, .9)
}

/**
 * The main title of the modal box header
 */
.header-modal h1 {
	display: inline;
	display: inline-block;
	margin: 0;
	padding: 0 0 0 .5em;
	vertical-align: middle;
	letter-spacing: -1px;
	text-transform: capitalize;
	line-height: 90px;
	font-size: 110%;
	font-weight: 400
}

/**
 * Optinal: for call to action into the modal box header
 */
.header-modal span {
    display: inline-table;
    width: 50%;
    text-align: center;
	font-size: 70%
}

/**
 * The links into the modal box header
 */
.header-modal a {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 0 0 .5em;
	border: 1px solid transparent;
    text-decoration: none;
	line-height: 32px;
	border-radius: 50%
}

/**
 * The link state into the modal box header
 */
.header-modal a:hover,
    .header-modal a:active {
	border-color: #0288d1;

	transform: translate(1.2, 1.2);
	transition: transform 200ms ease-out;
	-webkit-tap-highlight-color: transparent
}

/**
 * The SVG icon into the modal box header
 */
.header-modal svg {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	color: #aaa;
	font-size: 2em;
	cursor: pointer
}

/**
 * SVG icon color
 */
.header-modal path {fill: #aaa}

/**
 * The content part into the modal box
 */
.modal-dialog .inner-dialog {
	overflow-y: visible;
	overflow-y: auto;
	display: inline-block;
    width: auto;

    /* List of gracefull degradation max height */
	max-height: 14em;
	max-height: 47vh;

	height: 90%;
	margin: 0;
	padding: 5px 20px 50px 20px;
    color: #212121
}

.modal-dialog .inner-dialog.modal-message {
    width: 90%;
    padding: 5px 10% 5px 20px
}

/**
 * Prevent headings resizing
 */
:-webkit-any(.inner-dialog) * {font-size: 100%}

:-moz-any(.inner-dialog) * {font-size: 100%}

:matches(.inner-dialog) * {font-size: 100%}

/**
 * Restores the paragraph font size
 */
.modal-dialog .inner-dialog p {
	font-size: 85%;
	line-height: 1.5;
    hyphens: auto
}

:-webkit-any(.modal-dialog) p {font-size: 85%}

:-moz-any(.modal-dialog) p {font-size: 85%}

:matches(.inner-dialog) p {font-size: 85%}

/**
 * Styling the signs for the Modal Message Box
 */
span[class$="-sign"] {
	display: inline-table;
    display: inline-block;
    /* 2px less due to padding */
	width: 24px;
	height: 28px;
	margin: 0 5px 0 0;
    padding: 0 2px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font: normal normal normal 22px/28px Arial, sans-serif
}

span[class$="-sign"] strong {
    display: -moz-inline-box;
    display: inline-block
}

/**
 * here is the error sign color
 */
.error-sign {background: #d32f2f}

/**
 * Here is the info sign color
 */
.info-sign {background: #3f51b5}

/**
 * Here is the success sign color
 */
.success-sign {background: #00c853}

/**
 * Here is the warning sign color
 */
.warning-sign {background: #fbc02d}

/**
 * The footer of the modal box
 */
.footer-modal {
	overflow-y: auto;
	width: 100%;

	height: 3em;
    height: 3rem;

	margin: -2.5px auto 0;
	background: #0288d1;
	text-align: right;
    border: 1px solid #0288d1;

	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3)
}

/**
 * The footer links
 */
.footer-modal a {
	display: inline-table;
	display: inline-block;
    /* The only reasonable solution to get good looking buttons, but 
       forces to reverse the order of the links into the footer. */ 
    float: right;

	padding: 0 2em;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	word-break: keep-all;
	color: #fff;
	font-weight: 700;
	font-size: 70%;

	line-height: 4.3em /* 50px */;
    line-height: 3rem;

	outline: none;

	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	transition: .3s ease-out
}

/**
 * The footer links states
 */
.footer-modal a:hover,
.footer-modal a:active {
	background: #03a9f4;
	-webkit-tap-highlight-color: #03a9f4
}

/**
 * Media query for screen below 720px
 */
@media only screen and (max-width:720px) {

    .modal-dialog .modal {width: 80%}
	.header-modal {max-height: 11vmax}
	.header-modal h1 {
		line-height: 12.5vmax;
		font-size: 5.2vmin;
		font-size: 4vmax
	}
	.header-modal span {
		width: auto;
		margin: 0
	}
	.header-modal a {
		float: none;
		width: 24px;
		height: 24px;
		margin: 0 0 0 .5em;
		vertical-align: text-top
	}
	.header-modal svg {
		width: 22px;
		height: 22px;
		vertical-align: baseline
	}
	.modal-dialog .modal {
		margin: 5vh auto 0;
		margin: calc(15vh - 50px) auto 0;
		margin: 5vmin auto 0
	}
	.footer-modal {box-shadow: 0 -10px 20px rgba(225, 225, 225, .95)}
	.footer-modal a {font-size: 60%}
	.mob-hide {display: none}

}

/**
 * Corrections for Opera 7.5 browser
 * 1.째 default height of the modal box
 * 2.째 fallback for line-height
 */
:-o-prefocus,
html .modal-dialog .inner-dialog {
    /* 1.째 */
	height: 100%;
	max-height: 100%
}

:-o-prefocus,
html .footer-modal a {
    /* 2.째 */
	display: inline-block;
	padding: .8em 2em
}

/**
 * Styling the scroll bars for webkit browsers engine
 */
.modal-dialog ::-webkit-scrollbar {
	width: 3px;
	height: 3px
}

.modal-dialog ::-webkit-scrollbar-button {background-color: #666}

.modal-dialog ::-webkit-scrollbar-track {background-color: #999}

.modal-dialog ::-webkit-scrollbar-track-piece {background-color: #fff}

.modal-dialog ::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #999;
	border-radius: 3px
}

.modal-dialog ::-webkit-scrollbar-corner {background-color: #999}

.modal-dialog ::-webkit-resizer {background-color: #666}