@charset "UTF-8";
/*! 
 * LOGIN template  - https://github.com/cara-tm/modal_box 
 * @date     12/09/2017
 * @revision 15/09/2017
*/
.txt-center {
	text-align: center;
}
.mt2 {
	margin-top: 2em;
}
.modal-dialog {
	.modal {
		overflow: hidden;
		background: #78cfcf;
		color: #fff;
	}
	.close {
		background: #78cfcf;
		border: 2px solid #fff;
		color: #fff;
		&:hover {
			background: #78cfcf;
			border: 2px solid #333;
			color: #333;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			-webkit-transform: none;
			transform: none;
		}
		&:active {
			background: #78cfcf;
			border: 2px solid #333;
			color: #333;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			-webkit-transform: none;
			transform: none;
		}
	}
	.header-modal {
		color: #fff;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #78cfcf !important;
		h1 {
			display: block;
			color: #bbe7e7;
			font-size: 1.5em;
			font-size: 5rem;
		}
		.lock {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik03OS4yNDQsMTAwSDIwLjc1N2MtMi4wODUsMC0zLjc3NC0xLjY4OS0zLjc3NC0zLjc3NVY1OC4xMTNjMC0yLjA4NCwxLjY4OS0zLjc3MywzLjc3NC0zLjc3M2gzLjc3M1YzOC4xOTEgIGMwLTE0LjA2NiwxMS40MDMtMjUuNDcsMjUuNDcxLTI1LjQ3YzE0LjA2NSwwLDI1LjQ3LDExLjQwMywyNS40NywyNS40N1Y1NC4zNGgzLjc3M2MyLjA4NCwwLDMuNzczLDEuNjg5LDMuNzczLDMuNzczdjM4LjExMSAgQzgzLjAxOCw5OC4zMTEsODEuMzI4LDEwMCw3OS4yNDQsMTAweiBNNjMuNDgyLDM4Ljk0NWMwLTcuNDQ1LTYuMDM3LTEzLjQ4LTEzLjQ4MS0xMy40OGMtNy40NDYsMC0xMy40ODEsNi4wMzUtMTMuNDgxLDEzLjQ4VjU0LjM0ICBoMjYuOTYzVjM4Ljk0NXoiLz48L3N2Zz4=");
		}
	}
	.inner-dialog {
		max-height: 100%;
		color: #fff;
		border-color: #78cfcf !important;
		a {
			color: #f0f465;
		}
		form {
			width: 60%;
			margin: 0 20%;
		}
		input[type="email"] {
			width: 96%;
			height: 42px;
			margin: 0;
			padding: 0 2%;
			background: transparent;
			border: none;
			border: 1px solid #fff;
			color: #fff;
			font-size: 16px;
			line-height: 42px;
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		input[type="password"] {
			width: 96%;
			height: 42px;
			margin: 0;
			padding: 0 2%;
			background: transparent;
			border: none;
			border: 1px solid #fff;
			color: #fff;
			font-size: 16px;
			line-height: 42px;
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		.pattern {
			float: right;
			text-align: right;
			font-size: .65em;
		}
		.error {
			float: right;
			text-align: right;
			font-size: .65em;
		}
		input[type="submit"] {
			width: 100%;
			margin: 1em 0 .5em;
			padding: 10px;
			background: #fff;
			color: #67aaf9;
			font-weight: 600;
			font-size: 16px;
			outline: none;
			border: none;
			cursor: pointer;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
	}
	.footer-dialog {
		a {
			color: #ec008c;
		}
	}
	.modal-message {
		border-color: #78cfcf !important;
	}
	.footer-modal {
		border-color: #78cfcf !important;
	}
}
.footer-modal {
	overflow: hidden;
	background: #78cfcf;
	color: #fff;
}
input {
	&:invalid {
		box-shadow: 0 0 1px #ec008c;
	}
}
@media only screen and (max-width: 720px) {
	.modal-dialog {
		.inner-dialog {
			form {
				width: 90%;
				margin: 0 5%;
			}
		}
	}
}
