@charset "UTF-8";
/*! 
 * CSS Modal Box by cara-tm.com - MIT license - https://github.com/cara-tm/modal_box 
 * @date     05/08/2017
 * @revision 24/10/2017
*/
/**
 * Min resets
 */
/**
 * Prevent conflicts from other CSS rules
 */
/**
 * Desable the user's mouse selection
 */
/**
 * Animation
 */
/*
Removed due to uggly support in some webkit old browsers
*/
@-webkit-keyframes "scale-up-center" {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes "scale-up-center" {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
/**
 * Open the modal box
 */
/**
 * Apply animation on modal box opening
 */
/**
 * Removes background highlighting behavior
 */
/**
 * Hide the background beside the modal box
 */
/**
 * For default browser (Android 2.3.6): restores the 
 * wrapper visibility after closing the modal box
 */
/**
 * The wrapper of the modal box
 */
/**
 * The inner part of the modal box
 */
/**
 * The close button
 */
/**
 * The close button state
 */
/**
 * The header of the modal box
 */
/**
 * The main title of the modal box header
 */
/**
 * The content part into the modal box
 */
/**
 * Changes modal message boxes aspect
 */
/**
 * Prevent headings resizing
 */
/**
 * Restores the font size
 */
/**
 * The footer of the modal box
 */
/**
 * The footer links
 */
/**
 * The footer links states
 */
/**
 * Media query for screen below 720px
 */
/**
 * Corrections for Opera 7.5 browser
 * 1.° default height of the modal box
 * 2.° fallback for line-height
 */
/**
 * Styling the scroll bars for webkit browsers engine
 */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	.modal-dialog {
		font: normal normal normal 100%/1 '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
		font-kerning: normal;
		-moz-font-feature-settings: "kern";
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
	}
}
.no__select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.modal-dialog {
	&:target {
		opacity: 1;
		display: block;
		.modal {
			opacity: 1;
			animation: scale-up-center 100ms cubic-bezier(.39, .575, .565, 1) both;
			will-change: auto;
		}
	}
	&:focus {
		outline: none;
	}
	&:not(.plain) {
		&:target {
			~ {
				.wrapper {
					overflow: auto;
					position: absolute;
					position: fixed;
					z-index: -1;
					top: 0;
					left: 0;
					height: 1px;
					min-height: 0;
					max-height: 0;
					margin: 0;
					padding: 0;
					-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				}
			}
		}
		background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=) 0 0 repeat;
		background: rgba(255, 255, 255, 0.95);
		will-change: transform;
	}
	display: none;
	opacity: 0;
	position: fixed;
	position: absolute;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.modal {
		overflow: hidden;
		overflow: -moz-hidden-unscrollable;
		position: relative;
		z-index: 1000;
		max-width: 35em;
		margin: 2.5% auto 0;
		margin: 5vh auto 0;
		background: #fff;
		font-size: 120%;
		border-radius: 8px 8px 0 0;
		background-clip: padding-box;
		transform: scale(0, 0);
		will-change: transform;
		box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.3), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
		zoom: 1;
	}
	.close {
		display: block;
		position: absolute;
		z-index: 90000;
		top: .35em;
		right: .4em;
		width: 1.435em;
		height: 1.435em;
		margin: 0;
		padding: 0;
		background: #0288d1;
		vertical-align: middle;
		align-self: center;
		text-align: center;
		text-decoration: none;
		color: #fff;
		line-height: 1.435;
		font-family: Arial, sans-serif;
		cursor: pointer;
		border-radius: 50%;
		&:hover {
			background: #03a9f4;
			outline: none;
			border: none;
			transform: scale(1.2, 1.2);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			-webkit-transition: -webkit-transform 100ms ease-in-out;
			transition: -webkit-transform 100ms ease-in-out;
			transition: transform 100ms ease-in-out;
			transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		}
		&:focus {
			outline: none;
		}
	}
	.inner-dialog {
		overflow: hidden;
		overflow: auto;
		overflow-y: visible;
		overflow-y: auto;
		display: block;
		width: 94.25%;
		width: auto;
		width: calc(100% - 41px);
		max-height: 14em;
		max-height: 47vh;
		height: 90%;
		margin: 0;
		padding: 5px 20px 0 20px;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		color: #212121;
		hyphens: auto;
		scroll-behavior: smooth;
		p {
			font-size: 85%;
			line-height: 1.5;
		}
		ul {
			font-size: 85%;
			line-height: 1.5;
		}
	}
	.modal.modal-message {
		border: 1px solid #eee;
		border-radius: 6px 6px 0 0;
		.inner-dialog {
			overflow: hidden;
			margin: 0 0 .5em;
			padding-top: 1em;
			border: 0;
		}
	}
	.footer-modal {
		a {
			display: table-cell;
			float: right;
			padding: 0 2em;
			text-transform: uppercase;
			text-decoration: none;
			white-space: nowrap;
			word-break: keep-all;
			color: #fff;
			font-weight: 700;
			font-size: 70%;
			line-height: 4.3em;
			line-height: 3.75rem;
			transition: .3s ease-out;
		}
	}
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}
	&::-webkit-scrollbar-button {
		background-color: #666;
	}
	&::-webkit-scrollbar-track {
		background-color: #999;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb {
		height: 50px;
		background-color: #999;
		border-radius: 3px;
	}
	&::-webkit-scrollbar-corner {
		background-color: #999;
	}
	&::-webkit-resizer {
		background-color: #666;
	}
}
a[class^="close"] {
	&:target {
		~ {
			.wrapper {
				overflow: auto;
				position: absolute;
				position: fixed;
				z-index: -1;
				top: 0;
				left: 0;
				height: 1px;
				min-height: 0;
				max-height: 0;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				position: static;
			}
		}
	}
}
#close {
	&:target {
		~ {
			.wrapper {
				position: static;
			}
		}
	}
}
.inner-dialog {
	.close {
		&:active {
			background: #03a9f4;
			outline: none;
			border: none;
			transform: scale(1.2, 1.2);
			-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		}
	}
}
.header-modal {
	position: relative;
	z-index: 1001;
	height: 90px;
	min-height: 5rem;
	max-height: 26vh;
	border: 1px solid #eee;
	border-bottom: 0;
	color: #aaa;
	font-family: inherit;
	font-weight: 300;
	border-radius: 6px 6px 0 0;
	box-shadow: -15px 10px 30px rgba(255, 255, 255, 0.9);
	h1 {
		display: inline;
		display: inline-block;
		margin: 0;
		padding: 0 0 0 20px;
		vertical-align: middle;
		letter-spacing: -1px;
		text-transform: capitalize;
		line-height: 90px;
		font-size: 110%;
		font-weight: 400;
	}
}
:-webkit-any(.inner-dialog) {
	* {
		font-size: 100%;
	}
}
:-moz-any(.inner-dialog) {
	* {
		font-size: 100%;
	}
}
:matches(.inner-dialog) {
	* {
		font-size: 100%;
	}
}
.footer-modal {
	overflow-y: auto;
	display: table;
	direction: ltr;
	width: 100%;
	height: 3em;
	height: 3.75rem;
	background: #0288d1;
	text-align: right;
	border-right: 1px solid #0288d1;
	border-left: 1px solid #0288d1;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.14);
	scroll-behavior: smooth;
	a {
		&:hover {
			background: #03a9f4;
			-webkit-tap-highlight-color: #03a9f4;
		}
		&:active {
			background: #03a9f4;
			-webkit-tap-highlight-color: #03a9f4;
		}
		&:focus {
			outline: none;
		}
	}
}
:-o-prefocus {
	height: 100%;
	max-height: 100%;
	display: inline-block;
	padding: .8em 2em;
}
@media only screen and (max-width:720px) {
	.modal-dialog {
		.modal.modal-message {
			.inner-dialog {
				max-height: none;
				height: auto;
			}
		}
		.modal {
			width: 80%;
			margin: 5vh auto 3em;
			margin: calc(15vh - 50px) auto 3em;
			margin: 5vmin auto 3em;
		}
	}
	.header-modal {
		max-height: 11vmax;
	}
	.footer-modal {
		box-shadow: 0 -10px 20px rgba(225, 225, 225, .95);
		a {
			font-size: 60%;
		}
	}
	.mob-hide {
		display: none !important;
	}
}

@import "_custom.scss";
